.admin_pannel {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 20px 0;
}

.admin_pannel h2 {
  margin-bottom: 20px;
  font-size: 27px;
  color: #982b31;
}

.gallery {
  width: 90%;
  max-width: 1288px;

  display: flex;
  gap: 0.25rem;
  transform-style: preserve-3d;
  pointer-events: none;
}

.gallery-panel {
  flex: 1;
  aspect-ratio: 1 / 1.5;
  cursor: pointer;
  transition: 0.4s;
  pointer-events: auto;
  border-radius: 10px;
  /* Not 100% compatible with all browsers */
  -webkit-box-reflect: below 4px
    linear-gradient(transparent, rgba(0, 0, 0, 0.053));

  background-color: #ffa51d;
}

.gallery-panel p {
  font-size: 0.824rem;
  font-weight: bold;
  color: #982b31;
}

.gallery-panel img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-panel:hover {
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.253);
}

.gallery:hover > :not(:hover) {
  margin-inline: -1.5rem;
  transform: perspective(400px) rotateY(30deg) scale(0.8);
}

.gallery-panel:hover ~ .gallery-panel {
  transform: perspective(400px) rotateY(-30deg) scale(0.8);
}

.mobile-teacher-panel {
  display: none;
}

@media (max-width: 1100px) {
  .admin_pannel {
    display: none;
  }

  .mobile-teacher-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .mobile-teacher-panel h2 {
    margin-bottom: 20px;
    font-size: 27px;
    color: #982b31;
    height: max-content;
  }

  .mobile-teacher-panel p {
    display: none;
  }
  .mobile-teacher-panel p span {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .teacher-scrole {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    padding: 1rem;
  }

  .tracher-card {
    scroll-snap-align: start;
    min-width: 200px;
    max-width: 200px;

    aspect-ratio: 1.2/1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa51d;
    border-radius: 10px;
  }

  .tracher-card img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    user-select: none; /* Prevent text/image selection */
    pointer-events: none;
  }

  .tracher-card h3 {
    margin: 5px 0;
    font-size: 20px;
    color: #982b31;
    user-select: none;
  }
}

@media (max-width: 500px) {
  .teacher-scrole {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    cursor: grab;
    scrollbar-width: none;
    flex-wrap: nowrap;
    justify-content: start;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .mobile-teacher-panel p {
    font-size: 1.2rem;
    color: #982b31;
    display: flex;
  }
}
