.event__wrapper {
  width: 100%;
  padding: 4rem 0;
  background-color: palegoldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__wrapper--schoole_name {
  width: 90%;
  height: max-content;
  color: #982b31;
  font-size: 25px;
}

.event__wrapper--schoole_name span {
  height: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ffa51d;
  }
}

.event__wrapper--title {
  width: 90%;
  height: max-content;
  margin-top: 2rem;
  font-size: 25px;
  font-weight: bold;
  color: #982b31;
}

.event__card_container {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.event__card {
  height: 400px;
  width: 290px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 0.1rem;
  background-color: #ffa51d;

  &:hover .--event-card-img {
    background-size: 120% 120%;
  }
}

.event__card__item {
  flex: 1;
}

.--event-card-img {
  background-image: url(img/slide-img3.webp);
  background-size: 100% 100%;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.--event-card-info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  color: #982b31;
}

.event__card__item__date {
  padding-top: 1rem;
}

.event__card__item__title {
  padding-top: 0.5rem;
}

.event__card__item__btn {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.event__card__item__btn a {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.7rem 1.3rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #982b31;
    z-index: -8;
    transition: 0.2s ease-in-out;
  }

  &:hover::after {
    top: 0;
  }
}

@media (max-width: 660px) {
  .event__card_container {
    justify-content: center;
  }
}
