footer {
  color: #982b31;
  background-color: #ffa51d;

  a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: #982b31;
    text-align: center;

    &:hover {
      color: #fff;
    }
  }
}

.footer_wrapper {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.footer_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;

  svg {
    height: 50px;
    fill: #982b31;
    transition: 0.3s ease-in-out;
  }
}

.footer_wrapper__item1 {
  flex-grow: 1.5;
  padding: 2rem;
  justify-content: space-between;
  align-items: unset;
  line-height: 1.3rem;
  gap: 1rem;
  min-width: 360px;
  max-width: 625px;
  a:hover {
    color: #982b31;

    svg {
      fill: #ffffff;
    }
  }
}

.footer_wrapper__item1__content1 {
  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #982b31;
    min-width: unset;
    max-width: fit-content;
  }

  span {
    background-color: #fff;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    padding: 5px;
  }

  img {
    height: 50px;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

.footer_wrapper__item1__content2 {
  color: #982b31;

  h4 {
    line-height: 2rem;
  }

  p {
    text-align: justify;
  }
}

.footer_wrapper__item1__content3 {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.footer_copy-right {
  border-top: 3px solid #982b31;
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  a {
    font-weight: bold;
  }
}

@media (max-width: 970px) {
  .footer_container {
    svg {
      height: 45px;
    }
  }

  .footer_wrapper__item1__content1 {
    img {
      height: 45px;
    }
    h2 {
      font-size: 1.6rem;
      letter-spacing: -1px;
    }
  }
}

@media (max-width: 800px) {
  .footer_wrapper__item1 {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .footer_copy-right {
    margin-top: 50px;
  }
}

@media (max-width: 550px) {
  .footer_copy-right {
    display: flex;
    flex-direction: column;
    line-height: 0.8rem;
    p {
      text-align: center;
    }

    span {
      display: none;
    }
  }
}
