.result_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background-color: #ffa51dbd;
  border-radius: 20px;
}

.result_wrapper__cnt {
  width: 90%;
}

.result_wrapper__cnt--part1 {
  height: max-content;

  button {
    background-color: transparent;
    padding: 0.7rem 1.3rem;
    border: 2px solid #982b31;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #982b31;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: -100%;
      left: 0;
      background-color: #982b31;
      transition: 0.2s ease-in-out;
      z-index: -8;
    }

    &:hover::after {
      top: 0;
    }

    &:hover {
      color: #fff;
    }
  }
}

.result_wrapper__cnt--part1_title {
  text-align: center;
  font-size: 2rem;
  color: #982b31;
  padding-top: 1.5rem;
}

.result_wrapper__cnt--part1_btns {
  margin-top: 20px;
  padding-bottom: 5px;
}

.result_wrapper__cnt--part2 {
  height: 23rem;
}

.result_wrapper__cnt--part3 {
  height: 4.5rem;

  button {
    margin-top: 10px;
    background-color: transparent;
    padding: 0.7rem 1.3rem;
    border: 2px solid #982b31;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #982b31;
    transition: 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: inset 0 0 20px #982b31;
    }
  }
}

.result-table-container__item1 {
  height: 100%;
  display: none;
  position: relative;

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #982b31;
    padding: 3px;
    text-align: center;
    color: #982b31;
  }

  h2 {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-weight: normal;
    color: #982b31;
  }
}

.result-table-container__item1.active {
  display: block;
}

#result-table-container__item2.active,
#result_statistics_box.active {
  display: flex;
}

#result_statistics_box {
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.year_result {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  border-bottom: 1px solid #ffffff71;
  color: #982b31;

  a {
    color: #982b31;
  }
  svg {
    height: 1.8rem;
  }
}

#result-table-container__item2 {
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #982b31;

  svg {
    height: 2.5rem;
  }
}

@media (max-width: 850px) {
  .result-table-container__item1 h2 {
    justify-content: end;
    font-size: 18px;
    margin-top: -35px;
  }
}

@media (max-width: 695px) {
  .desktop-table {
    display: none;
  }
}
